<nav>
    {{ $currentPage := . }}
    <div id="page-nav">
        <div class="page-nav-item">
            <a href="{{ .Site.BaseURL }}">Home</a>
        </div>
        <div class="page-nav-item">
            <a href="https://matrix.to/#/#privacy:threatmodel.io" target="_blank">NTH Chat</a>
        </div>
        <div class="page-nav-item">
            <a href="/categories/guides">Guides</a>
        </div>
        <div class="page-nav-item">
            <a href="/categories/resources">Resources</a>
        </div>
        {{ range .Site.Menus.main }}
            <div class="page-nav-item">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </div>
        {{ end }}
    </div>
</nav>
